
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.nuget.cache
obj/project.assets.json
obj/PJP_WinForm_pessoa.csproj.nuget.g.targets
obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.AssemblyInfo.cs
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.assets.cache
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/PJP_WinForm_pessoa.GlobalUsings.g.cs
obj/PJP_WinForm_pessoa.csproj.nuget.dgspec.json
obj/PJP_WinForm_pessoa.csproj.nuget.dgspec.json
obj/PJP_WinForm_pessoa.csproj.nuget.g.targets
obj/PJP_WinForm_pessoa.csproj.nuget.dgspec.json
obj/PJP_WinForm_pessoa.csproj.nuget.dgspec.json
obj/PJP_WinForm_pessoa.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache

# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++